[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
[submodule "libc"]
	path = libc
	url = https://github.com/CarterTS/QorLibC
	branch = main
[submodule "qor-userland"]
	path = qor-userland
	url = https://github.com/CarterTS/QorUserland
	branch = main
